@model sistemaWEB.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="row">

    <div class="col-md-12" style="background-color:#B4E7D8; width:90%; height:95%; border-radius:10px;  align-content:center; margin: 20px;">

        <h1>Create</h1>

        <h4>Usuario</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apellido" class="control-label"></label>
                        <input asp-for="apellido" class="form-control" />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="dni" class="control-label"></label>
                        <input asp-for="dni" class="form-control" />
                        <span asp-validation-for="dni" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="mail" class="control-label"></label>
                        <input asp-for="mail" class="form-control" />
                        <span asp-validation-for="mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="intentosFallidos" class="control-label"></label>
                        <input asp-for="intentosFallidos" class="form-control" />
                        <span asp-validation-for="intentosFallidos" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="bloqueado" /> @Html.DisplayNameFor(model => model.bloqueado)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="esAdmin" /> @Html.DisplayNameFor(model => model.esAdmin)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
