@model sistemaWEB.Models.ReservaHotel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">

    <div class="col-md-12" style="background-color:#B4E7D8; width:90%; height:95%; border-radius:10px;  align-content:center; margin: 20px;">

        <h1>Edit</h1>

        <h4>ReservaHotel</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="idReservaHotel" />
                    <div class="form-group">
                        <label asp-for="idHotel" class="control-label"></label>
                        <select asp-for="idHotel" class="form-control" asp-items="ViewBag.idHotel"></select>
                        <span asp-validation-for="idHotel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cantidadPersonas" class="control-label"></label>
                        <input asp-for="cantidadPersonas" class="form-control" />
                        <span asp-validation-for="cantidadPersonas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idUsuario" class="control-label"></label>
                        <select asp-for="idUsuario" class="form-control" asp-items="ViewBag.idUsuario"></select>
                        <span asp-validation-for="idUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fechaDesde" class="control-label"></label>
                        <input asp-for="fechaDesde" class="form-control" />
                        <span asp-validation-for="fechaDesde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fechaHasta" class="control-label"></label>
                        <input asp-for="fechaHasta" class="form-control" />
                        <span asp-validation-for="fechaHasta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pagado" class="control-label"></label>
                        <input asp-for="pagado" class="form-control" />
                        <span asp-validation-for="pagado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
